# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = sfish.settings

[deploy:sfish]
url = http://39.108.88.210/sy/
project = sfish
